<table>
    <tr>
        <th>Clave</th>
        <th>Precio MX</th>
        <th>Descripcion</th>
    </tr>
    <tr *ngFor="let articulo of articulos">
        <td> 
            <a [routerLink]="[ '/detalle', articulo.clave.trim() ]"> {{ articulo.clave }} </a>             
        </td>
        <td> {{ articulo.precio }} </td>
        <td> {{ articulo.descripcion }} </td>
    </tr>
</table>