<header>
    <h3>
        Nuevo {{ articulo.clave }}
    </h3>
</header>
<br>
<br>

<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div>
        <label for="">Clave</label>
        <input type="text" name="clave" [(ngModel)]="articulo.clave">
    </div>
    <br>
    <div>
        <label for="">Precio</label>
        <input type="number" name="precio" [(ngModel)]="articulo.precio">
    </div>
    <br>
    <div>
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" [(ngModel)]="articulo.descripcion">
    </div>
    <br>
    <button>Agregar</button>
</form>
