<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
        <label for="articuloId">Articulo Id</label>
        <input type="number" class="form-control" id="articuloId" name="articuloid" [(ngModel)]="nuevo.articuloid" placeholder="Articulo Id">
    </div>
    <div class="form-group">
        <label for="almacenId">Almacen Id</label>
        <input type="number" class="form-control" id="almacenId" name="almacenid" [(ngModel)]="nuevo.almacenid" placeholder="Almacen Id">
    </div>
    <div class="form-group">
        <label for="minimo">Minimo</label>
        <input type="number" class="form-control" id="minimo" name="minimo" [(ngModel)]="nuevo.minimo" placeholder="Minimo">
    </div>
    <div class="form-group">
        <label for="maximo">Maximo</label>
        <input type="number" class="form-control" id="maximo" name="maximo" [(ngModel)]="nuevo.maximo"  placeholder="Maximo">
    </div>
    <div class="form-group">
        <label for="reorden">Reorden</label>
        <input type="number" class="form-control" id="reorden" name="reorden" [(ngModel)]="nuevo.reorden"  placeholder="Reorden">
    </div>
    <div class="form-group">
        <label for="estante">Estante</label>
        <input type="text" class="form-control" id="estante" name="estante" [(ngModel)]="nuevo.estante" placeholder="Estante">
    </div>
    <div class="form-group">
        <label for="total">Total</label>
        <input type="number" class="form-control" id="total" name="total" [(ngModel)]="nuevo.total" placeholder="Total">
    </div>
    <div class="form-group">
        <label for="entrada">Entadas</label>
        <input type="number" class="form-control" id="entrada" name="entrada" [(ngModel)]="nuevo.entradas" placeholder="Entrada">
    </div>
    <div class="form-group">
        <label for="salida">Salida</label>
        <input type="number" class="form-control" id="salida" name="salida" [(ngModel)]="nuevo.salidas" placeholder="Salida">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="activo" [(ngModel)]="nuevo.activo" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Activo</label>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>