<header>
    <h3>
        Detalle {{ articulo.clave }}
    </h3>
</header>
<br>
<br>

<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div>
        <label for="">Precio</label>
        <input type="number" name="precio" [(ngModel)]="articulo.precio">
    </div>
    <br>
    <div>
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" [(ngModel)]="articulo.descripcion">
    </div>
    <br>
    <button>Actualziar</button>
</form>
<br>
<br>
<br>
<br>
<button (click)="Elimina(articulo.clave)">Elimina</button>



