<ul class="nav navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/listado">Exitencia Articulos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/nuevo">Nuevo</a>
  </li>
</ul>


<br>
<!-- <a routerLink="/nuevo">Nuevo</a> -->

<router-outlet></router-outlet>
