<table class="table">
    <tr>
        <th>Id</th>
        <th>Articulo Id</th>
        <th>Almacen Id</th>
        <th>Minimo</th>
        <th>Maximo</th>
        <th>Reorden</th>
        <th>Estante</th>
        <th>Total</th>
        <th>Entrada</th>
        <th>Salida</th>
        <th>Activo</th>
    </tr>
    <tr *ngFor="let articulo of exitenciaArticulos">
        <!-- <td> 
            <a [routerLink]="[ '/detalle', articulo.clave.trim() ]"> {{ articulo.clave }} </a>             
        </td> -->
        <td> {{ articulo.id }} </td>
        <td> {{ articulo.articuloId }} </td>
        <td> {{ articulo.almacenId }} </td>
        <td> {{ articulo.minimo }} </td>
        <td> {{ articulo.maximo }} </td>
        <td> {{ articulo.reorden }} </td>
        <td> {{ articulo.estante }} </td>
        <td> {{ articulo.total }} </td>
        <td> {{ articulo.entradas }} </td>
        <td> {{ articulo.salidas }} </td>
        <td> {{ articulo.activo }} </td>
    </tr>
</table>